.main {
    width: 414px;
    margin: 0 auto;
    background-color: #fff;
}
.top {
    width: 100%;
    height: 50px;
    background-color: #f2f2f2;
    position: fixed;
    justify-content: space-between;
    align-items: center;
    z-index: 9999;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
}
.top .left {
    width: 48.5px;
    height: 26px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.top .center {
    width: 100%;
    height: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
}
.top .center .text {
    font-size: 17px;
    color: #666666;
}
.top .right {
    width: 57.5px;
    color:   rgba(0,0,0,.3);
    font-size: 25px;

    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

.pagewrap  {
    width: 414px;
    height: auto;
    z-index: 90;
    position: absolute;
    top:50px;



}
.pagewrap .login {
    width: 100%;
    height: 60px;
    background-color: #fff;
    line-height: 60px;
}
.pagewrap .login .text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    margin: 0 18px 0 18px;
}

.pagewrap .login .text p:nth-child(1) {
    font-size: 18px;
    color: rgba(0,0,0,.87);
}

.pagewrap .login .text p:nth-child(2) {
    font-size:14px ;
    color: rgba(0,0,0,.54);
}
.pagewrap .notice {
    width: 414px;
    height: 69px;
    background-color: #ebebeb;
    padding: 11.5px;
    box-sizing: border-box;
    line-height: 69px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pagewrap .notice img {
    width: 46px;
    height: 46px;
}
.pagewrap .notice .icon-shopcar {
    font-size: 52px;
    color: rgba(0,0,0,.27);;
}
.pagewrap .notice .item1 {
    padding: 0 9px 0 7px;
    color: rgba(0,0,0,.27);
}
.pagewrap .notice .item2 {
    display: inline-block;
    border: 1px solid rgba(0,0,0,.15);
    box-sizing: border-box;
    height: 29px;
    line-height: 29px;
    padding: 0 14px;
    color: rgba(0,0,0,.87);
    font-size: 14px;

}
.pagewrap .img {
    width: 414px;
    height: 71px;
}
.pagewrap .img img {
    width: 414px;
    height: 69px;
}
.pagewrap .goods-info .box {
    width: 414px;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;


}
.pagewrap goods-info .box .product {
    width: 205px;
    height: 269px;

}

.pagewrap .goods-info .box .product .img {
    width: 205px;
    height: 205px;

}
.pagewrap .goods-info .box .product .img img {
    width: 205px;
    height: 205px;
}
.pagewrap .goods-info .box  .product .des {
    width: 205px;
    height: 64px;

    box-sizing: border-box;
    padding: 10px 15px 12px;
}
.pagewrap .goods-info .box .product .des .name {
    font-size: 16px;
    color: #3c3c3c;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.pagewrap .goods-info .box .product .des .price  {
    margin-top: 6px;
}
.pagewrap .goods-info .box .product .des .price .goods-price .icon-money{

    font-size: 10px;
    color: #9b9b9b;

}
.pagewrap .goods-info .box .product .des .price .goods-price span {
    font-size: 13px;
    color:rgba(0,0,0,.54);
    text-decoration: line-through;
}
.pagewrap .goods-info .box  .product .des .price .icon-money {
    font-size: 10px;

}

.pagewrap .goods-info .box .product .des .price .goods-price {
    font-size: 18px;
    color: #ff6700;
}


.pagewrap .line {
    width: 100%;
    height: 50px;

}



.foot {
    width: 100%;
    height: 54px;
    position: fixed;
    z-index: 9999;
    bottom: 0;
    left: 0;
    right: 0;

    background-color: #fff;
}
.foot .line2 {
    width: 100%;
    height: 5px;
    background-color: #fff;
}
.foot .item {
    display: inline-block;
    width: 24%;
    margin: 0 auto;
    text-align: center;

}
.foot .item a {
    height: 40px;


}
.foot .item a i {
    display: block;
    font-size: 23px;

    margin: 0 38px 6px;
}
.foot .item a span {
    color:#999999 ;

    font-size: 15px;

}
.foot .item  span:hover {
    color: #ff7f19;

}
